# HELLO :)

doc/
doc/FINAL_DEMO(SPED_UP).mp4
doc/FINAL_DEMO.mp4

**/__pycache__/
src/core/test.py

build/main.spec
build/build/

main.exe

# ENV FILE FOR LOCALHOST'S SUPERUSER 
# LOGIN CREDENTIALS
src/gui/ROOT.py
